// Colors
$brand-pink: #ED54A4; // rgb(237,84,164);
$dark-blue: #204265;

$light-gray: #E6E6E6;
$gray: #A4A4A4;
$dark-gray: #6C6C6C;

$offwhite: #FCFCFC;

// Color Utils
$body-color: $dark-gray;
$link-color: $dark-blue;
$border-color: $light-gray;
$label-color: $gray;